.span8.upcoming-events
    %h1 Upcoming Events
    
    -events.each do |month, events|
        .date-header=current_month == month.strftime("%B") ? "This Month" : month.strftime("%B")

        -events.each do |event|
            .row
                .span8.event-entry
                    .row
                        .span2=image_tag "http://placehold.it/200x200"
                        .span6
                            %h3
                                =event.name
                                %small=event.start_time.strftime("%A, %B #{event.start_time.day.ordinalize}, %I:%m%p")
                            %p #{event.description} #{link_to "[more info]", event.link}
                            -if !event.notes.blank?
                                %p
                                    %strong Notes: 
                                    =event.notes
                            %p
                                %em=event.map_link.html_safe

                            %h6
                                Posted by #{link_to "@#{event.user.handle}", "http://twitter.com/#{event.user.handle}", target: "_blank"}
                                -if can? :edit, event
                                    &nbsp;|&nbsp;#{link_to 'Edit', edit_event_path(event)}
